.Cast {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.cast-card{
    margin-right: 5px;
    margin-left: 5px;
    color: white;
    font-size: 15px;
}
.cast-card p{
    margin: 0px;
}
.cast-char{
    color:  #999999;
    margin-top: 5px;
}
.cast-img{
    width:185px;
    height:275px;
    
}
.cast-fallback{
    padding:118px 80px 118px 80px;
    background-color: #202124;
}
.cast-title{
    color: white;
    font-weight: 300px;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards{
    display: flex;
    width: 90vw;
    scroll-behavior: smooth;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;

}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;}

    @media (max-width: 500px){
        .cast-img{
            width: 110px;
            height: 164px;
        }
        .cast-card{
            font-size: 13px;
        }
        .cast-fallback{
            background-color: #202124;
            padding: 62px 35px 62px 35px
        }
    }