@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
.MoviePage {
  background-color: #141414;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 300px;
}
